.card{
  width: 18rem;
  background-color: rgb(226, 226, 226);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-detail{
  max-width: 540px;
}
.bi-cart{
  color: white;
}
